* {
  font-family: "Inter", serif;
}
html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0;
  background-color: #ffffff;
}
body,
header,
form,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 630px;
}
img {
  margin-bottom: 10px;
}
h1 {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}
p {
  font-size: 20px;
  font-weight: 400;
  color: #6c727f;
  font-family: "outfit", serif;
  text-align: center;
}
button {
  font-size: 16px;
  font-weight: 600;
}
span {
  font-size: 12px;
  font-weight: 400;
}
.card {
  background-color: #ffffff;
  border-radius: 15px;
  width: 80%;
  box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.03),
    0px 8px 12px 0px rgba(0, 0, 0, 0.08);
  padding: 20px 25px;
  margin-top: 50px;
}
form {
  width: 100%;
}
input,
button {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  height: 50px;
}
input {
  background-color: #f9fafb;
  text-align: center;
  margin-top: 5px;
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 500;
  color: #394150;
}
input::placeholder {
  font-family: "Inter", serif;
  font-size: 14px;
  font-weight: 500;
  color: #394150;
}
input:focus {
  border: 2px solid #bcc6eb;
  outline: none;
}
button {
  background-color: #284bce;
  font-size: 14px;
  color: #f9fafb;
  margin-top: 20px;
  margin-bottom: 25px;
  opacity: 1;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
span {
  color: #394150;
}
@media (max-width: 640px) {
  h1 {
    font-size: 32px;
  }
  p {
    font-size: 16px;
    padding: 0 20px;
  }
  .card {
    max-width: 85%;
    padding: 15px;
  }
  span {
    font-size: 10px;
    display: block;
    text-align: left;
  }
}